@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-alice-carousel/lib/alice-carousel.css";

.inner-shadow {
  box-shadow: inset 0 0 4px black;
}

/* index.css */

::-webkit-scrollbar {
  cursor: pointer;
  height: 4px;
  display: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
